mixin logo(value = false)
    +b.logo
        +e.logo__wrapper
            +icon({
                name: "logo-common",
                viewbox: '0 0 713.59 234.66',
                class: 'logo_icon'
            })