mixin nav(value = false)
    +b.NAV.nav(class=value.parentClass)
        +e.UL.list
            each item in value.items
                +e.LI.item
                    +e.A.link(href=item['link'])= item['text']
