.cargo-calc {
    position: fixed;
    top: 99px;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background: rgba(31, 66, 93, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateX(-100vw);
    transition: transform 0.5s ease;
    padding: 15px;

    @media (min-width: $break_md) {
        top: 110px;
    }

    @media (min-width: $break_xl) {
        top: 111px;
        transform: none;
        left: auto;
        padding-right: 164px;
        padding-left: 164px;
    }

    &.active {
        transform: translateX(0);
    }

    &__title {
        font-size: 36px;
        color: $white;
        line-height: 1.43;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__button {
        border-radius: 5px;
        width: 100%;
    }

    &__close-button {
        position: absolute;
        top: 25px;
        right: 10px;

        @media (min-width: $break_xl) {
            display: none;
        }
    }

    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background-color: $white;
    }

    &__input, &__placeholder {
        width: 100%;

        &:hover {
            .input__icon {
                fill: $keppel;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > * + * {
            margin-top: 35px;
        }
    }
}