$break_s: 480px;
$break_sm: 576px;
$break_md: 768px;
$break_lg: 992px;
$break_xl: 1280px;
$break_xxl: 1590px;

$black: #1A1A1A;
$white: #fff;
$dark: #333333;
$indigo: #1F425D;
$keppel: #3B97A2;
$blue-Green: #07A6B9;
$gray: #999999;

$grid-gutter-width: 30px;

$font-family: "Geologica", sans-serif !default;
$second-family: "Montserrat", sans-serif;


