.input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        .input__icon {
            fill: $keppel;
        }

        .nice-select:after {
            border-color: $keppel;
        }
    }
    
    &__placeholder {
        padding: 19px 51px 15px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 1.6;
        color: $black;

        &::placeholder {
            font-size: 16px;
            line-height: 1.6;
            color: $gray;
        }

        &_select {
            height: auto;
            width: 100%;
        }
    }
    
    &__icon {
        position: absolute;
        left: 20px;
        width: 24px;
        height: 24px;
        fill: $gray;
        transition: all .3s ease;
        z-index: 1;
    }
}

.nice-select:after {
    right: 23px;
}

.nice-select-dropdown {
    width: 100%;
}
