mixin soc(value = false)
    +b.soc(class=value.parentClass)
        +e.UL.list
            each item in value.items
                +e.LI.item
                    +e.A.link(href=item['link'])
                        +icon({
                            name: item['name'],
                            class: value.svgClass ? 'soc__svg ' + value.svgClass : 'soc__svg'
                        })