block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title '123123'
        meta(name="theme-color" content="#fff")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

        //link(rel="preload" media="(min-width: 420px)" href="css/media-xs.css" as="style")
        //link(rel="preload" media="(min-width: 576px)" href="css/media-sm.css" as="style")
        //link(rel="preload" media="(min-width: 767px)" href="css/media-md.css" as="style")
        //link(rel="preload" media="(min-width: 992px)" href="css/media-lg.css" as="style")
        //link(rel="preload" media="(min-width: 1280px)" href="css/media-xl.css" as="style")


        link(rel='stylesheet' href='../style/main.scss')

    body
        block content
        block scripts